<h1><center>Laboratorio 4: Spark y EDA</center></h1>

<center><strong>MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos - Primavera 2024</strong></center>

### Cuerpo Docente:

- Profesores: Ignacio Meza, Sebasti√°n Tinoco
- Auxiliar: Eduardo Moya
- Ayudantes: Nicol√°s Ojeda, Melanie Pe√±a, Valentina Rojas

### Equipo: **SUPER IMPORTANTE - notebooks sin nombre no ser√°n revisados**

- Nombre de alumno 1: Joaqu√≠n De Groote
- Nombre de alumno 2: Vicente Pinochet R.

### **Link de repositorio de GitHub:** [Insertar Enlace](https://github.com/Qajirr/MDS7202-Labs)

## Reglas:

- **Grupos de 2 personas**
- Fecha de entrega: 6 d√≠as de plazo con descuento de 1 punto por d√≠a. Entregas Jueves a las 23:59.
- Instrucciones del lab el viernes a las 16:15 en formato online. Asistencia no es obligatoria.
- <u>Prohibidas las copias</u>. Cualquier intento de copia ser√° debidamente penalizado con el reglamento de la escuela.
- Tienen que subir el laboratorio a u-cursos y a su repositorio de github. Labs que no est√©n en u-cursos no ser√°n revisados. Recuerden que el repositorio tambi√©n tiene nota.
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente ser√°n respondidos por este medio.
- Pueden usar cualquier material del curso que estimen conveniente.

### Temas a tratar

- Introducci√≥n al manejo y an√°lisis de grandes vol√∫menes de datos por medio de la libreria `pyspark`.

### Objetivos principales del laboratorio

- Entender, aplicar y aprovechar las ventajas que nos ofrece la libreria `pyspark` para manejar datos tabulares de gran vol√∫men.
- Crear gr√°ficos para el desarrollo de An√°lisis de Datos Exploratorios (EDA).

### Datos del Lab

- Base de datos: https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/datos_lab_spark.parquet
- Objeto serializado: https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/object.pkl

## 1. Preguntas Te√≥ricas [12 puntos]
(2 por pregunta)

<center>
<img src="https://img.buzzfeed.com/buzzfeed-static/static/2018-08/1/17/enhanced/buzzfeed-prod-web-05/anigif_enhanced-9173-1533160033-1.gif" width=350 />

Responda en  m√°ximo 5 l√≠neas las siguientes preguntas:
1. ¬øQu√© es Apache Spark y cu√°les son sus principales ventajas sobre Pandas?
2. ¬øQu√© es un RDD en Spark? Describe una de sus principales caracter√≠sticas. ¬øQu√© tienen que ver con los dataframes?.
3. Diferencia entre transformaciones y acciones en Spark. Proporciona ejemplos de cada una. ¬øQu√© ocurre internamente cuando se ejecuta una acci√≥n?
4. Explica la importancia del particionamiento en Spark y c√≥mo afecta el rendimiento del procesamiento de datos.
5. ¬øCu√°les son las funciones de Spark Driver y Spark Executor?
6. ¬øQu√© es el Catalyst Optimizer en Apache Spark y cu√°l es su funci√≥n principal en la optimizaci√≥n de consultas SQL?

**Respuestas**

> Respuestas aqu√≠

## Parte Pr√°ctica

<center>
<img src="https://pbs.twimg.com/ad_img/1285681293590749189/kDckYy6Z?format=png&name=900x900" width=350 />

Juan Carlos Bodoque, el famoso periodista y empresario, decidi√≥ diversificar su portafolio de negocios y crear su propia plataforma de e-commerce. Despu√©s de varios a√±os de investigar y analizar el mercado financiero, finalmente logr√≥ fundar Bodoque E-Shop con el objetivo de ofrecer a sus clientes una experiencia personalizada y confiable en sus transacciones.

Sin embargo, con la llegada de los aliens al planeta Tierra, aparecen nuevos desaf√≠os para el negocio. Por ello, Bodoque decide invertir en un equipo de expertos en tecnolog√≠a y comercio interplanetario, para que Bodoque Shop implemente las √∫ltimas innovaciones en servicio al cliente para garantizar la satisfacci√≥n y fidelizaci√≥n de sus nuevos clientes.

El primer objetivo de Bodoque E-Shop ser√° la hacer un an√°lisis exploratorio para entender mejor el comportamiento de los usuarios en la plataforma. Para ello Bodoque les hace entrega de un extenso dataset en el que se registran las actividades que han realizado sus clientes durante los √∫ltimos meses. A continuaci√≥n se presenta un diccionario de variables que levanto el equipo de consultores interplanetarios de Bodoque:

1. `Transaction ID`: A unique identifier for each transaction.
2. `Customer ID`: A unique identifier for each customer.
3. `Transaction Amount`: The total amount of money exchanged in the transaction in USD.
4. `Transaction Date`: The date and time when the transaction took place.
5. `Payment Method`: The method used to complete the transaction (e.g., credit card, PayPal, etc.).
6. `Product Category`: The category of the product involved in the transaction.
7. `Quantity`: The number of products involved in the transaction.
8. `Customer Age`: The age of the customer making the transaction.
9. `Customer Location`: The geographical location of the customer.
10. `Device Used`: The type of device used to make the transaction (e.g., mobile, desktop).
11. `IP Address`: The IP address of the device used for the transaction.
Shipping Address: The address where the product was shipped.
12. `Billing Address`: The address associated with the payment method.
13. `Is An Alien`: A binary indicator of whether customer is an alien.
14. `Account Age Days`: The age of the customer's account in days at the time of the transaction.
15. `Transaction Hour`: The hour of the day when the transaction occurred.

### Importamos librerias utiles y cargamos los datosüò∏

In [1]:
!pip install pyspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Requirement already satisfied: pyspark in /root/miniconda3/lib/python3.12/site-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /root/miniconda3/lib/python3.12/site-packages (from pyspark) (0.10.9.7)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [4]:
# Libreria Core del lab.
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.types import StringType, IntegerType, FloatType


#Libreria para plotear
!pip install --upgrade plotly
!pip install missingno
import matplotlib.pyplot as plt
import plotly.express as px

Collecting plotly
  Downloading plotly-5.24.0-py3-none-any.whl.metadata (7.3 kB)
Collecting tenacity>=6.2.0 (from plotly)
  Downloading tenacity-9.0.0-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: packaging in /root/miniconda3/lib/python3.12/site-packages (from plotly) (23.1)
Downloading plotly-5.24.0-py3-none-any.whl (19.0 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 19.0/19.0 MB 5.5 MB/s eta 0:00:0000:0100:01
Downloading tenacity-9.0.0-py3-none-any.whl (28 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.24.0 tenacity-9.0.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Collecting missingno
  Downloading missingno-0.5.2-py3-none-any.whl.metadata (639 bytes)
Requirement already satisfied: numpy in /root/miniconda3/lib/python3.12/site-packages (from missingno) (2.1.1)
Collecting matplotlib (from missingno)
  Downloading matplotlib-3.9.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting scipy (from missingno)
  Downloading scipy-1.14.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 60.8/60.8 kB 4.0 MB/s eta 0:00:00
Collecting seaborn (from missingno)
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib->missingno)
  Downloading contourpy-1.3.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib->missingno)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib->missingno)
  Downloading fonttools-4.53.1-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (162 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 162.6/162.6 kB 5.6 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib->missingno)
  Downloading kiwisolver-1.4.7-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in /root/miniconda3/lib/python3.12/site-packages (from matplotlib->missingno) (23.1)
Collecting pillow>=8 (from matplotlib->missingno)
  Downloading pillow-10.4.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib->missingno)
  Downloading pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in /root/miniconda3/lib/python3.12/site-packages (from matplotlib->missingno) (2.9.0)
Requirement already satisfied: pandas>=1.2 in /root/miniconda3/lib/python3.12/site-packages (from seaborn->missingno) (2.2.2)
Requirement already satisfied: pytz>=2020.1 in /root/miniconda3/lib/python3.12/site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /root/miniconda3/lib/python3.12/site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: six>=1.5 in /root/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Downloading missingno-0.5.2-py3-none-any.whl (8.7 kB)
Downloading matplotlib-3.9.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.3 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 8.3/8.3 MB 10.3 MB/s eta 0:00:0000:0100:01
Downloading scipy-1.14.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (40.8 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 40.8/40.8 MB 10.0 MB/s eta 0:00:0000:0100:01
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 294.9/294.9 kB 4.2 MB/s eta 0:00:00a 0:00:01
Downloading contourpy-1.3.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (320 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 320.5/320.5 kB 5.0 MB/s eta 0:00:00a 0:00:01
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.53.1-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 4.9/4.9 MB 9.0 MB/s eta 0:00:0000:0100:01
Downloading kiwisolver-1.4.7-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.5/1.5 MB 8.7 MB/s eta 0:00:00a 0:00:01
Downloading pillow-10.4.0-cp312-cp312-manylinux_2_28_x86_64.whl (4.5 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 4.5/4.5 MB 9.1 MB/s eta 0:00:0000:0100:01m
Downloading pyparsing-3.1.4-py3-none-any.whl (104 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 104.1/104.1 kB 2.4 MB/s eta 0:00:0000:01
Installing collected packages: scipy, pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn, missingno
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.53.1 kiwisolver-1.4.7 matplotlib-3.9.2 missingno-0.5.2 pillow-10.4.0 pyparsing-3.1.4 scipy-1.14.1 seaborn-0.13.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

Cargue los datos usando **pyspark**

> Nota: Puede ser util el siguiente [enlace](https://www.oracle.com/cl/java/technologies/downloads/#jdk22-windows)

In [5]:
%%capture
!wget https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/datos_lab_spark.parquet

In [6]:
# Escriba su respuesta aqu√≠
conf = SparkConf().setMaster("local").setAppName("BODOQUE")

# Inicializo el Spark Context
sc = SparkContext(conf = conf)

sparksession = SparkSession.builder.master("local").appName("BODOQUE").getOrCreate()

df = (
    sparksession.read
    .option("header",'True')
    #.option('delimiter', ',') # Formato del delimiter en el archivo de lectura
    .parquet("datos_lab_spark.parquet")

)

df_estilo_pandas = (
    sparksession.read
    .load(
        "datos_lab_spark.parquet",
        format="parquet",
        sep=",",
        inferSchema="true",
        header="true"
    )
)

your 131072x1 screen size is bogus. expect trouble
24/09/09 16:41:53 WARN Utils: Your hostname, DESKTOP-B7C9E1D resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/09/09 16:41:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/09 16:41:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
assert df.schema == df_estilo_pandas.schema

### 2. Limpieza con pyspark [8 puntos]
(1 punto por pregunta)

<center>
<img src="https://miro.medium.com/v2/resize:fit:600/1*A6PpTrehGLxCJWNcUsDTNg.jpeg" width=350 />

Para comenzar con el an√°lisis exploratorio usted decide empezar limpiando la base de datos con **pyspark** dado el alto volumen de datos que genera diariamente Bodoque E-Shop.

**Nota: NO SE PERMITE EL USO DE PANDAS EN ESTA SECCI√ìN**



1.   Utilice `.printSchema()` para revisar la estructura de los datos
2.   Muestre las primeras 10 filas del dataset. Hint: utilice `.show()`
3.   Imprima un muestreo aleatorio con el 5% de los datos diponibles. . Hint: utilice `.sample()`
4. Revise los tipos de datos de cada columna con `.dtypes()` y responda la siguiente pregunta: ¬øCu√°l/es columna/s tiene/n un tipo de dato que no es el adecuado y por qu√©?
5. Cree una funci√≥n **cast_columns** que permita cambiar el tipo de datos de las columnas problem√°ticas. Luego utilice esta funci√≥n respecto a lo respondido en la pregunta anterior.
6. Cuente la cantidad de datos nulos por variable. Recuerde que Spark no posee un m√©todo que le permita calcular directamente los nulos.
7. Elimine datos nulos.
8. Elimine datos duplicados.

In [10]:
# Escriba su respuesta aqu√≠
df.printSchema()

root
 |-- Transaction ID: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Transaction Amount: double (nullable = true)
 |-- Transaction Date: timestamp_ntz (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Quantity: double (nullable = true)
 |-- Customer Age: double (nullable = true)
 |-- Customer Location: string (nullable = true)
 |-- Device Used: string (nullable = true)
 |-- IP Address: string (nullable = true)
 |-- Shipping Address: string (nullable = true)
 |-- Billing Address: string (nullable = true)
 |-- Is An Alien: double (nullable = true)
 |-- Account Age Days: double (nullable = true)
 |-- Transaction Hour: double (nullable = true)

In [12]:
%%time
df.show(10)

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|4b4a5fe1-ec4d-4f9...|d1b87f62-51b2-493...|             58.09|2022-03-24 00:00:00| bank transfer|     electronics|     1.0|        17.0|    Amandaborough|       NULL| 212.195.49.198|Unit 8934 Box 005...|Unit 8934 Box 005...|        0.0|            NULL|             5.0|
|bacd9392-73ce-481...|37de64d5-e901-4a5...|            389.96|2023-01-17 00:00:00|    debit card|     electronics|     2.0|        40.0|     East Timothy|    desktop|208.106.249.121|634 May Keys\nPor...|634 May Keys\nPor...|        0.0|            72.0|             8.0|
|d936a024-3a1d-40d...|1bac88d6-4b22-409...|            134.19|2023-06-01 00:00:00|        PayPal|   home & garden|     2.0|        22.0|       Davismouth|     tablet|   76.63.88.212|                NULL|16282 Dana Falls ...|        0.0|            63.0|            NULL|
|a30aaab5-4042-4b8...|2357c76e-9253-4ce...|            226.17|2019-07-02 00:00:00| bank transfer|        clothing|     5.0|        31.0|         Lynnberg|    desktop| 207.208.171.73|828 Strong Loaf A...|828 Strong Loaf A...|        0.0|           124.0|            20.0|
|b0634f43-d07d-4ca...|45071bc5-9588-43e...|            121.53|2020-10-26 00:00:00| bank transfer|        clothing|     2.0|        51.0|             NULL|       NULL| 190.172.14.169|29799 Jason Hills...|29799 Jason Hills...|        0.0|           158.0|            NULL|
|8c4711b8-7477-421...|29616b04-2d5c-472...|            166.41|2019-06-10 00:00:00| bank transfer|    toys & games|    NULL|        34.0|     Herreramouth|     tablet|           NULL|5699 Brittany Vil...|120 Kristi Dale\n...|       NULL|            38.0|            10.0|
|fd0342fe-6b16-4a3...|fe21ae29-ba4c-424...|             92.88|2020-10-09 00:00:00|        PayPal|    toys & games|     2.0|        14.0|        Ramosfort|     tablet|   13.45.27.192|                NULL|727 Gibson Island...|        0.0|           119.0|            19.0|
|2d7299de-355b-479...|024257c3-5671-4de...|            318.14|2021-10-09 00:00:00|   credit card| health & beauty|     4.0|        42.0|             NULL|    desktop|131.141.230.185|3914 Davis Union\...|                NULL|        0.0|           251.0|            NULL|
|de51c9df-ab52-43a...|                NULL|              NULL|2019-03-22 00:00:00| bank transfer|   home & garden|    NULL|        38.0|       Carneyfurt|       NULL|           NULL|47893 Maldonado S...|                NULL|        0.0|           190.0|            19.0|
|                NULL|aab93e75-582f-445...|            121.78|2022-02-28 00:00:00| bank transfer| health & beauty|     4.0|        39.0|       Brockburgh|     mobile| 174.32.252.238|2334 Briana Cente...|2334 Briana Cente...|        0.0|           343.0|            NULL|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 10 rows

CPU times: user 4.47 ms, sys: 1.25 ms, total: 5.72 ms
Wall time: 3.95 s

In [17]:
%%time
df.sample(fraction=0.1, seed=99).show()

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+--------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|   Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+--------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|                NULL|                NULL|            178.94|2020-05-15 00:00:00|    debit card|        clothing|     4.0|        27.0|                NULL|     mobile| 211.46.251.245|298 Taylor Canyon...|                NULL|        0.0|           200.0|            NULL|
|                NULL|67c1fbc9-5830-409...|            118.83|2019-06-19 00:00:00|    debit card| health & beauty|    NULL|        30.0|           Jasonberg|     mobile| 66.205.254.110|501 Calderon Unde...|501 Calderon Unde...|        0.0|            79.0|            22.0|
|013853e7-e58b-419...|29ae06d3-464d-498...|            264.31|               NULL|        PayPal|   home & garden|     5.0|        52.0|            Kylestad|    desktop|  70.111.19.233|86656 Douglas Mil...|                NULL|        0.0|           298.0|            20.0|
|d71a6ab4-7487-41a...|cbd7852e-aa77-448...|            133.05|2024-02-15 00:00:00|        PayPal|        clothing|     5.0|        25.0|                NULL|     mobile|           NULL|                NULL|84087 Christy Uni...|        0.0|            96.0|            14.0|
|                NULL|80da4301-1a42-44a...|             63.15|2024-09-10 00:00:00|   credit card|        clothing|    NULL|        40.0|     Lake Martinland|       NULL|           NULL|4058 Jay Row\nLak...|4058 Jay Row\nLak...|        0.0|           145.0|             2.0|
|9f3e36b3-2447-41c...|8ec06043-f502-443...|             46.26|               NULL|   credit card|        clothing|     2.0|        NULL|    North Rhondaside|     tablet|213.226.163.230|325 Daniel Mall S...|                NULL|        1.0|            NULL|            NULL|
|                NULL|31e51a9d-c384-4b2...|             71.16|               NULL| bank transfer| health & beauty|    NULL|        52.0|           New Karen|     tablet|           NULL|157 Ferguson Vill...|157 Ferguson Vill...|        0.0|           131.0|            NULL|
|facb3132-b14d-418...|e68e69e4-62d2-43a...|            116.96|               NULL|    debit card|            NULL|     3.0|        20.0|            Lisastad|     tablet|   167.93.7.102|407 House Plaza S...|407 House Plaza S...|        0.0|            93.0|            18.0|
|                NULL|                NULL|            147.66|2022-01-15 00:00:00|    debit card|    toys & games|     1.0|        NULL|         New Allison|       NULL|  198.235.70.78|78767 Williams Ri...|78767 Williams Ri...|        0.0|           286.0|             0.0|
|86a70d61-50c5-4de...|308fd5ba-f82e-49c...|            493.39|2021-01-15 00:00:00|        PayPal|    toys & games|     4.0|        48.0|          Tannerbury|       NULL| 197.14.188.243|                NULL|640 Martin Forks\...|        0.0|           331.0|             9.0|
|                NULL|857a7b19-9ecd-44e...|            640.61|2020-03-21 00:00:00|    debit card| health & beauty|     2.0|        NULL|           Johnmouth|       NULL|   210.87.28.26|538 Joseph Harbor...|538 Joseph Harbor...|        0.0|           185.0|            12.0|
|658ead0a-e22c-47c...|0cb1a959-7b1e-427...|              NULL|               NULL|          NULL|     electronics|     5.0|        38.0|         Melissaland|    desktop| 212.123.150.97|137 Timothy Villa...|137 Timothy Villa...|        0.0|           262.0|            10.0|
|97c9bfe0-c5c1-469...|                NULL|              83.1|               NULL|   credit card|     electronics|     5.0|        NULL|                NULL|     tablet|   172.6.162.57|0345 Natalie Bran...|                NULL|        0.0|           188.0|            NULL|
|78cf4754-62f8-497...|c534a3a8-05bb-42b...|              NULL|2021-03-24 00:00:00|   credit card|            NULL|    NULL|        27.0|North Christopher...|     tablet|           NULL|7874 Stacey Exten...|7874 Stacey Exten...|        0.0|            NULL|             5.0|
|4458536b-1f3a-423...|                NULL|             66.93|               NULL|        PayPal|        clothing|     2.0|        46.0|                NULL|     mobile|           NULL|                NULL|99943 Mark Crossi...|       NULL|            NULL|             1.0|
|7b10eb02-349d-424...|dbf53e49-73dc-46c...|            172.08|2023-10-30 00:00:00|        PayPal|            NULL|     4.0|        39.0|        Richardstown|    desktop| 201.168.192.41|                NULL|66511 Mendoza Way...|       NULL|           345.0|            10.0|
|59cd1289-c821-490...|                NULL|              NULL|               NULL|    debit card|        clothing|     2.0|        29.0|    South Susanville|     tablet|178.211.116.186|116 Daugherty Cre...|116 Daugherty Cre...|        0.0|            54.0|             9.0|
|7d8ee3aa-eee6-488...|e5cb5571-e4f9-4e9...|              NULL|               NULL|          NULL|            NULL|    NULL|        29.0|         Port Joseph|    desktop|  37.166.25.113|                NULL|USNS Robinson\nFP...|        0.0|            NULL|            11.0|
|00a60e97-42af-4c8...|b2b93cb9-30b2-497...|             24.35|2024-10-01 00:00:00|    debit card|            NULL|     4.0|        32.0|                NULL|       NULL| 199.93.174.225|                NULL|758 Harris Meadow...|        0.0|            40.0|            23.0|
|200dd222-3e3b-499...|90910c2b-ee53-4ab...|              NULL|2021-12-09 00:00:00|          NULL|            NULL|    NULL|        40.0|                NULL|       NULL| 211.116.94.138|444 Shea Estates\...|444 Shea Estates\...|       NULL|            NULL|             1.0|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+--------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 20 rows

CPU times: user 16.8 ms, sys: 1.85 ms, total: 18.6 ms
Wall time: 1.07 s

In [16]:
%%time
df.dtypes

CPU times: user 45 Œºs, sys: 12 Œºs, total: 57 Œºs
Wall time: 60.6 Œºs

[('Transaction ID', 'string'),
 ('Customer ID', 'string'),
 ('Transaction Amount', 'double'),
 ('Transaction Date', 'timestamp_ntz'),
 ('Payment Method', 'string'),
 ('Product Category', 'string'),
 ('Quantity', 'double'),
 ('Customer Age', 'double'),
 ('Customer Location', 'string'),
 ('Device Used', 'string'),
 ('IP Address', 'string'),
 ('Shipping Address', 'string'),
 ('Billing Address', 'string'),
 ('Is An Alien', 'double'),
 ('Account Age Days', 'double'),
 ('Transaction Hour', 'double')]

- Is An Alien: Debe ser boolean en lugar de double debido a que solo tiene datos de 0 y 1 o NULL.
- Quantity: Debe ser integer en lugar de double ya que las cantidades son siempre enteras.
- Customer Age: Debe ser integer en lugar de double ya que las edades no tienen decimales.
- Account Age Days: Debe ser integer en lugar de double ya que los dias no tienen decimales.
- Transaction Hour: Debe ser integer en lugar de double, ya que las horas no poseen decimales.

In [27]:
from pyspark.sql.types import BooleanType
def cast_columns(df, cols_types):
    """
    Cambia el tipo de m√∫ltiples columnas en un DataFrame de Spark.

    Par√°metros:
    - df: DataFrame de Spark.
    - cols_types: Diccionario con nombres de columnas como claves y tipos de datos de Spark como valores.

    Retorna:
    - DataFrame de Spark con tipos de columnas modificados.
    """
    for col_name, new_type in cols_types.items():
        df = df.withColumn(col_name, df[col_name].cast(new_type))
    return df

# Ejemplo de uso
cols_to_cast = {"Quantity": IntegerType(), "Customer Age": IntegerType(),
                "Is An Alien": BooleanType(), "Account Age Days": IntegerType(), "Transaction Hour": IntegerType()}
df = cast_columns(df, cols_to_cast)
df.printSchema()

root
 |-- Transaction ID: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Transaction Amount: double (nullable = true)
 |-- Transaction Date: timestamp_ntz (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Customer Age: integer (nullable = true)
 |-- Customer Location: string (nullable = true)
 |-- Device Used: string (nullable = true)
 |-- IP Address: string (nullable = true)
 |-- Shipping Address: string (nullable = true)
 |-- Billing Address: string (nullable = true)
 |-- Is An Alien: boolean (nullable = true)
 |-- Account Age Days: integer (nullable = true)
 |-- Transaction Hour: integer (nullable = true)

In [28]:
from pyspark.sql.functions import when, rand, col, sum

exprs = [sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) for c in df.columns]

df.agg(*exprs).show()

+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+
|Transaction ID|Customer ID|Transaction Amount|Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|IP Address|Shipping Address|Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+
|             0|          0|                 0|               0|             0|               0|       0|           0|                0|          0|         0|               0|              0|          0|               0|               0|
+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+

In [24]:
df.na.drop().count()
df = df.na.drop()

In [25]:
df.dropDuplicates().count()
df = df.dropDuplicates()

In [29]:
df.show(10)

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|48738ee5-2a9f-41a...|35940e8d-0d3a-49b...|            312.37|2021-03-17 00:00:00|    debit card|   home & garden|       2|          45|  Port Karenburgh|     tablet|  52.108.253.19|23601 Melissa Can...|23601 Melissa Can...|      false|              44|               4|
|b8139ed1-4849-453...|f50c91d9-a44d-48a...|             15.32|2020-10-22 00:00:00| bank transfer|   home & garden|       1|          46|     Rebeccaville|     tablet|   99.70.136.94|887 George Statio...|887 George Statio...|      false|              75|               7|
|03fa7e0e-f007-404...|053682d9-9cf2-4be...|             30.87|2019-07-16 00:00:00|        PayPal|        clothing|       2|          43|      North Jenny|     mobile|   49.99.10.115|85027 Michelle Fo...|85027 Michelle Fo...|      false|             298|               9|
|09608426-5628-44c...|93923722-7547-4b9...|            221.47|2021-11-25 00:00:00|    debit card|   home & garden|       3|          29|    South Johnton|     mobile|  4.165.118.181|2620 Katrina Tunn...|2620 Katrina Tunn...|       true|             268|              22|
|d2698270-4e6e-440...|e62c7d89-b1d5-45f...|             21.92|2019-09-06 00:00:00|    debit card|   home & garden|       1|          38|        Jamesview|     mobile|  207.63.48.149|2994 Patricia Loc...|2994 Patricia Loc...|      false|             244|               2|
|e939b0df-b403-49e...|f9a48260-abfc-45c...|            217.25|2022-05-05 00:00:00|   credit card|     electronics|       1|          54|     Jacobchester|     mobile|  55.234.141.38|714 King Drives S...|714 King Drives S...|      false|             133|              22|
|25aaaf63-f8c4-45d...|faec099b-02ac-44c...|            327.76|2024-07-30 00:00:00|        PayPal| health & beauty|       2|          26|    Williamshaven|     mobile| 116.130.75.103|5096 Howard Ridge...|5096 Howard Ridge...|      false|             363|               6|
|609e2fcf-6256-4d1...|2e747b1e-5bba-47d...|            346.35|2021-03-22 00:00:00|   credit card|    toys & games|       4|          31|Port Williamville|     tablet|139.222.116.135|6392 Elizabeth Ho...|01229 Misty Fort ...|      false|               4|               0|
|f657d55c-b40f-4dc...|10c7d4c7-49a3-487...|             17.18|2022-12-29 00:00:00| bank transfer| health & beauty|       5|          55|     Samanthaside|     mobile|   50.225.174.3|914 Johnston Ligh...|914 Johnston Ligh...|      false|              74|              16|
|1b2733a5-c6ab-44d...|cea1bb57-2b3d-45e...|             175.0|2022-04-10 00:00:00|        PayPal|    toys & games|       3|          28|        New Kevin|     mobile|  142.69.105.19|360 Washington Me...|360 Washington Me...|      false|              74|              17|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 10 rows

### 3. Transformaciones con pyspark [6 puntos]
(1 punto por pregunta)

<center>
<img src="https://live.staticflickr.com/13/91801406_0e71d7f019_b.jpg" width=350 />

**Nota: NO SE PERMITE EL USO DE PANDAS EN ESTA SECCI√ìN**

Para continuar con el an√°lisis, los especistas de Bodoque les gustar√≠a tener nuevas variables disponibles. Tras las notas de la reuni√≥n usted llega a la conclusi√≥n de que tiene que realizar las siguientes tareas (con el dataset preprocesado de la seccion anterior):


1.   Agregar una columna llamada "Transaction bp" con el **monto total** de la transacci√≥n en bodoque pesos. Se considera que $x$ d√≥lares equivalen a $log(48+|x^{36}|)$ bodoque pesos.
2.   Crear una columna llamada "Transaction Month" con el mes en que se realiza una transacci√≥n.
3.   Crear la variable *Type of purchase* seg√∫n la catidad de unidades vendidas de acuerdo a las siguientes categor√≠as.
  * Compra minorista: 4 productos o menos.
  * Compra mayorista: 5 produtos o m√°s.
4. Imprima los registros de compras hechas por alien√≠genas en el comecio mayorista.  Utilice `.filter()`.
5. Cuente la cantidad de compras realizadas por humanos y la cantidad de compras realizadas por alien√≠genas. Utilice `.groupby()`.
6. Muestre una tabla con la recaudaci√≥n promedio por transacci√≥n para cada m√©todo de pago, tanto para humanos como alien√≠genas. Utilice `pivot()`.

In [ ]:
# Escriba su respuesta aqu√≠

### 4. EDA [20 puntos]
(1 punto por gr√°fico y 1 punto por su interpretaci√≥n)

<center>
<img src="https://i.pinimg.com/originals/41/7e/7b/417e7b9089bcc20c4909df8954c6e742.gif" width=400 />

Esta secci√≥n tiene como objetivo evaluar su habilidad para generar reportes y conclusiones a partir de los patrones identificados en los datos proporcionados por Bodoque. Espec√≠ficamente, se enfoca en **caracterizar las transacciones** y **explorar las diferencias y similitudes en el comportamiento de humanos y aliens**. Utilice el dataset que ya incluye las transformaciones necesarias.

Por favor, aseg√∫rese de que **todas** las visualizaciones que realice cumplan con los siguientes criterios:
- Deben ser relevantes y f√°ciles de interpretar.
- Cada gr√°fico debe incluir un t√≠tulo claro, nombres en los ejes y leyendas adecuadas.
- Adjunte una breve descripci√≥n interpretativa junto a cada gr√°fico para explicar los resultados visualizados.

Para llevar a cabo esta tarea, siga los siguientes pasos utilizando la librer√≠a de visualizaci√≥n de su elecci√≥n (matplotlib, seaborn, plotly, etc):

1. **Conversi√≥n del DataFrame a formato pandas** (2 puntos): Pase el DataFrame procesado a formato pandas. Evite realizar transformaciones adicionales con pandas.
2. **Visualizaci√≥n de Variables Categ√≥ricas** (2 puntos por visualizaci√≥n):
   - Genere **tres gr√°ficos de barras** que diferencien entre humanos y aliens. Analice y comente cualquier diferencia o similitud observada entre estos dos grupos.
3. **Visualizaci√≥n de Variables Num√©ricas** (2 puntos por visualizaci√≥n):
   - Elabore **tres distplots** para examinar las distribuciones de variables num√©ricas, diferenciando entre humanos y aliens. Comente las diferencias o similitudes notables.
4. **An√°lisis de Patrones en Transacciones** (2 puntos por visualizaci√≥n):
   - Cree **tres gr√°ficos avanzados** que ayuden a identificar patrones en las transacciones. Estos gr√°ficos deben incorporar al menos dos dimensiones y diferir de los anteriores. Algunos ejemplos podr√≠an ser un lineplot que muestre la cantidad de transacciones mensuales por canal de venta, o un barplot que exhiba los tres productos m√°s vendidos por canal.

Estos pasos le permitir√°n no solo visualizar datos complejos de manera efectiva, sino tambi√©n interpretar estos datos para extraer insights valiosos acerca del comportamiento de los consumidores en el contexto de Bodoque.

In [ ]:
# Escriba su respuesta aqu√≠

### 5. Particiones y consultas en SQL [2 puntos]

<center>
<img src="https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/misc_images/1696330143457.gif" width=400 />

El equipo de Bodoque e-shop ha solicitado que los datos est√©n disponibles en una tabla SQL consultable. Adem√°s, est√°n interesados en aprovechar las funciones de ventana en SQL para an√°lisis avanzados. Las funciones de ventana permiten realizar c√°lculos sobre un conjunto de filas que est√°n relacionadas con la fila actual. Por ejemplo, UNBOUNDED PRECEDING se usa para indicar que el rango de la funci√≥n de ventana comienza desde la primera fila de la partici√≥n o del conjunto de resultados, lo cual es √∫til para calcular sumas acumulativas hasta la fila actual. Las variaciones comunes de este uso incluyen:

- `UNBOUNDED PRECEDING` to `CURRENT ROW`: Calcula desde el inicio de la partici√≥n hasta la fila actual.
- `UNBOUNDED PRECEDING` to `UNBOUNDED FOLLOWING`: Cubre todas las filas dentro de la partici√≥n.
- `VALUE PRECEDING` to `VALUE FOLLOWING`: Establece un rango espec√≠fico basado en valores antes y despu√©s de la fila actual.

<center>
<img src="https://learnsql.com/blog/sql-window-functions-rows-clause/1.png" width=500 />

Ejemplo de uso en SQL:

```sql
STAT(COL1_NAME) OVER (PARTITION BY COL2_NAME ORDER BY COL3_NAME ROWS BETWEEN X PRECEDING AND CURRENT ROW)
```


Responda y realice los siguientes puntos:

1. **Creaci√≥n de Tabla con PySpark** (2 puntos):
   - Desarrolle un script utilizando PySpark para crear una tabla a partir de un DataFrame previamente transformado. Seleccione y utilice una variable espec√≠fica para la partici√≥n de la tabla. Justifique su elecci√≥n de esta variable considerando factores como el tama√±o del DataFrame, la distribuci√≥n de los datos y el impacto potencial en el rendimiento de futuras consultas.

2. **Consulta SQL para Principales Clientes** (Bonus: 2 punto):
   - Ejecute una consulta SQL para identificar los 10 clientes que m√°s productos han comprado. La consulta debe retornar el ID del cliente junto con el total de productos comprados, ordenados en forma descendente.

3. **Implementaci√≥n de Funci√≥n de Ventana en SQL y Equivalente en Spark** (Bonus: 2 punto):
   - Implemente una funci√≥n de ventana en SQL para calcular la compra m√°s alta realizada por cada usuario en los √∫ltimos tres meses. Adem√°s, describa c√≥mo se podr√≠a realizar una funci√≥n equivalente en Spark, considerando las capacidades espec√≠ficas de PySpark para manejar este tipo de consultas.

In [ ]:
# C√≥digo Aqu√≠

### 6. UDF [12 puntos]

<center>
<img src="https://64.media.tumblr.com/ba8c705edd2bed0a28d9458811155d69/tumblr_pap19zg4ae1w3zg6go1_400.gifv" width=400 />



Un experto en predicciones y programaci√≥n le ha proporcionado un objeto serializado (`pickle`) dise√±ado para calcular las probabilidades de que un cliente cometa o no un fraude. Este experto sugiere que, para maximizar las capacidades de procesamiento distribuido de Spark, deber√≠a implementar `Scalar User Defined Functions` (udf). Esto le permitir√° aplicar el objeto serializado en un entorno distribuido a lo largo de toda la poblaci√≥n de datos. Un aspecto clave de la funci√≥n desarrollada por el experto es que se enfoca exclusivamente en las siguientes columnas para realizar las predicciones: `['Transaction Amount', 'Quantity', 'Customer Age', 'Transaction Hour']`.

Aparte, el experto le proporciona las siguientes instrucciones para usar las UDF en Spark:

```python
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

def custom_function(col1, col2, col3, col4):
    pass

udf_function = udf(custom_function, FloatType())
```

Bas√°ndose en la estructura proporcionada, debe desarrollar una funci√≥n que ejecute un c√≥digo espec√≠fico. Tenga en cuenta que esta funci√≥n solo puede recibir columnas de Spark y debe retornar el valor deseado. Posteriormente, deber√° utilizar esta funci√≥n UDF indicando la funci√≥n personalizada y el formato de salida.

Siga los siguientes pasos para implementar la soluci√≥n y responda las preguntas:

1. **Cargar el objeto serializado**: Revise el tipo de objeto y deduzca su funci√≥n. (1 punto)
2. **Explorar el objeto**: Utilice las funciones `dir` y `help` para identificar qu√© m√©todo del objeto predice la probabilidad. (1 punto)
3. **Crear una funci√≥n personalizada**: Elabore una funci√≥n que prediga la probabilidad de fraude utilizando el √∫ltimo valor de la lista generada por el objeto serializado. Puede modificar el nombre de la funci√≥n para reflejar su prop√≥sito. (6 puntos)
4. **Definir la funci√≥n UDF**: Establezca la funci√≥n UDF con la funci√≥n personalizada que ha creado. (2 punto)
5. **Generar una nueva columna**: A√±ada una nueva columna `prediction` a su DataFrame en Spark utilizando la funci√≥n UDF y muestre un ejemplo de c√≥mo se aplica. ¬øQu√© beneficios podr√≠a generar utilizar udf? (2 puntos)

In [ ]:
# C√≥digo Aqu√≠